<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.zero.project.domain.repository.mapper.ProjectMapper">
    <select id="getProjectDetail" parameterType="Long" resultType="com.example.zero.project.domain.model.ProjectDetail">
        SELECT id, title, `desc`, sub_domain, static_file_name, dynamic_file_name FROM project WHERE id = #{id}
    </select>

    <insert id="createProject" parameterType="com.example.zero.project.domain.model.ProjectDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project VALUES (0, #{user_id}, #{group_id}, #{title}, #{desc}, #{sub_domain}, #{static_file_src}, #{dynamic_file_src}, now(), now())
    </insert>

    <select id="selectSubDomain" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM project WHERE sub_domain = #{subDomain}
    </select>

    <select id="getProjectsByUserId" parameterType="Long" resultType="com.example.zero.project.domain.model.ProjectWithUser">
        SELECT p.id, p.user_id, p.group_id, p.title, p.`desc`, p.sub_domain, u.student_id, u.name
        FROM project AS p
        JOIN user AS u ON (u.id = p.user_id)
        WHERE p.user_id = #{userId}
    </select>

    <select id="getProjectsByGroupId" parameterType="Long" resultType="com.example.zero.project.domain.model.ProjectWithUser">
        SELECT p.id, p.user_id, p.group_id, p.title, p.`desc`, p.sub_domain, u.student_id, u.name
        FROM project AS p
        JOIN user AS u ON (u.id = p.user_id)
        WHERE p.group_id = #{groupId}
    </select>

    <delete id="deleteProject" parameterType="Long">
        DELETE FROM project WHERE id = #{userId}
    </delete>
</mapper>
